<div class="row teams single-fixture left color-quaternary">

  <div *ngIf="fixture.status != null && fixture.status == 'Closed'" class="current-game-status current-game-closed">
    <div class="tooltip-bottom" data-tooltip="Closed fixture">
      <i class="fa fa-circle-o-notch fa-spin font-s default-margin" aria-hidden="true"></i>
    </div>
  </div>

  <div *ngIf="fixture.status != null && fixture.status == 'Live'" class="current-game-status current-game-live">
    <div class="tooltip-bottom" data-tooltip="Live fixture">
      <i class="fa fa-circle-o-notch fa-spin font-s default-margin" aria-hidden="true"></i>
    </div>
  </div>

  <div *ngIf="fixture.status != null && fixture.status == 'Upcoming'" class="current-game-status current-game-upcoming">
    <div class="tooltip-bottom" data-tooltip="Upcoming fixture">
      <i class="fa fa-circle-o-notch fa-spin font-s default-margin" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row full-border pad">
    <div class="text-color-tertiary data-block fixture-teams main-heading text-spread">

      <div class="col-xs-12 default-padding">

        <div class="col-xs-6 default-padding truncate font-bold">{{fixture.teamNameHomeAbbreviation}}</div>
        <div class="col-xs-6 default-padding truncate font-bold text-color-secondary" *ngIf="fixture.status != null"><span *ngIf="showScore">{{fixture.teamScoreHome}}</span></div>
        <div class="col-xs-6 default-padding truncate font-bold">{{fixture.teamNameAwayAbbreviation}}</div>
        <div class="col-xs-6 default-padding truncate font-bold text-color-secondary" *ngIf="fixture.status != null"><span *ngIf="showScore">{{fixture.teamScoreAway}}</span></div>
        <div class="date font-bold main-heading text-color-primary">{{fixture.shortDate}}</div>

      </div>

    </div>

  </div>

