<h3>
  {{title}}
</h3>


<button (click)="requestKYCMinData()">Request KYC Info</button>

<button (click)="requestKYCDocData()">Request KYC Doc Info</button>

<button (click)="requestKYCReferData()">Test KYC Refer Data</button>

<button (click)="sendSaleData()">Test Authipay Sale</button>

<app-fixture *ngIf="fixture != null" [fixture]="fixture"></app-fixture>
